  @import url('https://fonts.googleapis.com/css?family=Poppins:300,400');

  body {
    margin: 0;
    -webkit-perspective: 1000;
    font-family: 'Poppins', sans-serif;
    background: #303030;
  }

  body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }



  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    line-height: inherit;
  }

  h1 {
    color: #ffffff;
    font-size: 2em;
  }

  h2 {
    color: #353535;
    font-size: 2em;
  }

  p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
  }



  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  html{
    -webkit-font-smoothing: antialiased;
  }

  body.vegas-container {
    overflow: hidden;
  }

  a {
    color: #202020;
    text-decoration: none !important;
  }

  a,
  input, button,
  .form-control {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  a:hover, a:active, a:focus {
    color: #f8a01b;
    outline: none;
  }

  ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #202020;
  }

  .overlay {
    background: linear-gradient(to top right, #d2b48c, #000000);
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


  /*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background: none repeat scroll 0 0 #ffffff;
  }

  .ripple {
    position: relative;
    width: 30px;
    height: 30px;
  }

.ripple::before, .ripple::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #05257C;
    opacity: 0;
    animation: ripple 3s infinite;
}

.ripple::after {
    animation-delay: 1.5s;
}

@keyframes ripple {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
  /*---------------------------------------
      HOME          
  -----------------------------------------*/

  #home {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    position: relative;
  }

  #home .container {
    width: 100%;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100vh;
    padding: 1.5em 1em;
  }

  .logo {
    margin-bottom: auto;
  }

  .logo img {
    width: 270px
  }

  .home-text .title {
    text-transform: uppercase;
    color: #f8a01b;
    font-weight: 900;
    font-size: 2em;
    letter-spacing: 0.5px;
  }

  .home-text .introduction {
    color: #ffffff;
    letter-spacing: 1px;
  }

  .home-contact .contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    margin-block: 45px 20px;
  }

  .home-contact .contact-info a {
    color: #ffffff;
    font-weight: 400;
  }

  .home-contact .contact-social {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #ffffff;
  }

  .home-copyright {
    color: #ffffff;
    margin-top: auto;
  }

  /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media screen and (min-width: 1024px) {
    .home-text .title {
      font-size: 3rem;
    }

    .home-content {
      padding: 3em 0;
    }

    .home-text .introduction {
      letter-spacing: 2px;
    }

    .home-contact .contact-info {
      margin-block: 80px 30px;
    }
  }
